* { margin:0; padding:0; box-sizing:border-box; }

body {
  font-family: 'Poppins', sans-serif;
  background:#111;
  color:#fff;
  overflow-x:hidden;
}

.holistic-text,
.logo,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;    
  letter-spacing: 0.5px;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 1px;
}

.read-more-btn,
.appointment-btn,
.login-btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
}

nav a,
.dropdown-content a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

#loading-screen {
  position:fixed; 
  top:0; left:0; 
  width:100%; 
  height:100%;
  background:#fff; 
  display:flex;
  align-items:center; 
  justify-content:center;
  z-index:9999;
  transition:opacity .8s ease;
}

#loading-screen video { 
  width:250px;
  max-width: 100%;
  border-radius: 30px;

}

#main-content { 
  display:none; 
}
#loading-screen.hidden {
  opacity: 0;
  visibility: hidden;
} 